*.js
!jest.config.js
!webpack.config.js
*.d.ts
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out

# Parcel default cache directory
.parcel-cache

# Ignore sample data
__*__sample.json

# Ignore template.yaml
template.yaml

#Ignore DotEnv
*.env