*.js
!jest.config.js
!webpack.config.js
!scripts/*.js
!.eslintrc.js
*.d.ts
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out

# Parcel default cache directory
.parcel-cache

# Ignore sample data
__*__sample.json

# Ignore template.yaml
template.yaml

# Ignore DotEnv
*.env

# Ignore build and bundles
build
bundles

# Ignore dynamically created scrape handlers
**/cron/handlers/__recordScraper__*.ts
**/cron/handlers/__testRecordScraper__*.ts
**/cron/handlers/__detailScraper__*.ts
**/cron/handlers/__testDetailScraper__*.ts